name: test
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up Python
      uses: actions/setup-python@v6
      with: { python-version: '3.10' }
    - name: Install
      run: |
        sudo apt-get install emacs && emacs --version
        git clone https://github.com/riscy/melpazoid.git ~/melpazoid
    - name: Run
      env:
        LOCAL_REPO: ${{ github.workspace }}
        RECIPE: (shx :fetcher github :repo "riscy/shx-for-emacs")
        # set this to false (or remove it) if the package isn't on MELPA:
        EXIST_OK: true
      run: |
        make -C ~/melpazoid
        emacs --batch --script ./test/script.el
