name: test
on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.6
      uses: actions/setup-python@v1
      with: { python-version: 3.6 }
    - name: Install
      run: |
        python -m pip install --upgrade pip
        sudo apt-get install emacs && emacs --version
        git clone https://github.com/riscy/melpazoid.git ~/melpazoid
        pip install ~/melpazoid
    - name: Run
      env:
        # RECIPE is your recipe as written for MELPA:
        RECIPE: (shx :repo "riscy/shx-for-emacs" :fetcher github)
        # set this to false (or remove it) if the package isn't on MELPA:
        EXIST_OK: true
      run: |
        echo $EXIST_OK && make -C ~/melpazoid
        emacs --batch --script ./test/script.el
